@model XamarinMVC.Models.Product
@using XamarinMVC.Models
@{
    DatabaseContext db = new DatabaseContext();
    var gallery = db.Galleries.Where(g => g.ProductId == Model.Id).ToList();
}
@{
    string dir = null;
    switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
    {
        case "en-US":
            dir = "rtl";
            break;
        case "fa-IR":
            dir = "ltr";
            break;
        default:
            dir = "ltr";
            break;
    }


}
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@if (dir == "ltr")
{
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <h2 class="title-color">@Model.NameFA</h2>
        <br />
        <h4>@XamarinMVC.App_GlobalResources.Texts.Groups : @Model.Group.NameFA / @XamarinMVC.App_GlobalResources.Texts.Brand : @Model.Brand.Title</h4>
        <br />

        <div>
            @if (Model.Quantity == 0)
            {
                <h3 class="pull-left red-text-color">
                    @XamarinMVC.App_GlobalResources.Texts.NotAvailable
                </h3>
                <h3 class="pull-right">
                    <a href="#" class="btn btn-success disabled">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
                </h3>
            }
            else
            {
                <h3  class="pull-left price-color">
                    @XamarinMVC.App_GlobalResources.Captions.Price : @Model.Price.ToString("n0") ریال
                </h3>
                <h3 class="pull-right">
                    <a href="#" class="btn btn-success">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
                </h3>
            }
        </div>
        <div class="clearfix"></div>
        @Html.Action("ShowFields", "Home")
        <div class="clearfix"></div>
        <div class="mg-top-40">
            @Html.Raw(Model.Description)
        </div>

    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        @if (gallery.Count == 0)
        {
            <img src="~/Images/Product/@Model.Image" alt="@Model.Image" width="300" height="300" class="img-responsive" style="margin:auto" />
        }
        else
        {
            @Html.Action("Gallery", "Home")
        }
    </div>
    <div class="clearfix"></div>
    <div class="mg-top-40">
        <h2 class="text-center">@XamarinMVC.App_GlobalResources.Captions.SuggestedProducts</h2>
        <div class="pull-left">
            @Html.Action("RandomProduct", "Home", new { id = Model.Id, gid = Model.GroupId, bid = Model.BrandId })
        </div>
    </div>

}
else
{

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        @if (gallery.Count == 0)
        {
            <img src="~/Images/Product/@Model.Image" alt="@Model.Image" width="300" height="300" class="img-responsive" style="margin:auto" />
        }
        else
        {
            @Html.Action("Gallery", "Home")
        }
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <h2 class="title-color">@Model.NameEN</h2>
        <br />
        <h4>@XamarinMVC.App_GlobalResources.Texts.Groups : @Model.Group.NameEN / @XamarinMVC.App_GlobalResources.Texts.Brand : @Model.Brand.Title</h4>
        <br />

        <div>
            @if (Model.Quantity == 0)
            {
                <h3 class="pull-left red-text-color">
                    @XamarinMVC.App_GlobalResources.Texts.NotAvailable
                </h3>
                <h3 class="pull-right">
                    <a href="#" class="btn btn-success disabled">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
                </h3>
            }
            else
            {
                <h3 style="font-family:Tahoma" class="pull-right price-color">
                    @XamarinMVC.App_GlobalResources.Captions.Price : @Model.Price.ToString("n0") Rials
                </h3>
                <h3 class="pull-left">
                    <a href="#" class="btn btn-success">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
                </h3>
            }
        </div>
        <div class="clearfix"></div>
        <hr />
        <br />
        @Html.Action("ShowFields", "Home")
        <div class="clearfix"></div>
        <div class="mg-top-40">
            @Html.Raw(Model.Description)
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="mg-top-40">
        <h2 class="text-center">@XamarinMVC.App_GlobalResources.Captions.SuggestedProducts</h2>
        <div class="pull-right">
            @Html.Action("RandomProduct", "Home", new { id = Model.Id, gid = Model.GroupId, bid = Model.BrandId })
        </div>
    </div>

}
<div class="col-xs-12 visible-xs">
    <h2 class="title-color">@Model.NameFA</h2>
    <br />
    <h4>@XamarinMVC.App_GlobalResources.Texts.Groups : @Model.Group.NameFA / @XamarinMVC.App_GlobalResources.Texts.Brand : @Model.Brand.Title</h4>
    <br />

    <div>
        @if (Model.Quantity == 0)
        {
            <h3 class="pull-left red-text-color">
                @XamarinMVC.App_GlobalResources.Texts.NotAvailable
            </h3>
            <h3 class="pull-right">
                <a href="#" class="btn btn-success disabled">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
            </h3>
        }
        else
        {
            <h3 class="pull-right price-color">
                @XamarinMVC.App_GlobalResources.Captions.Price : @Model.Price.ToString("n0") ریال
            </h3>
            <h3 class="pull-left">
                <a href="#" class="btn btn-success">@XamarinMVC.App_GlobalResources.Texts.AddToCart</a>
            </h3>
        }
    </div>
    <div class="clearfix"></div>
    @Html.Action("ShowFields", "Home")
    <div class="clearfix"></div>
    <div class="mg-top-40">
        @Html.Raw(Model.Description)
    </div>
</div>
@section Scripts{

    <script src="~/Scripts/GalleryScript.js"></script>
}
