@model XamarinMVC.Models.ForgetPasswordViewModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="wrap-account-pic col-lg-6 col-md-6 hidden-xs hidden-sm" style="background-image:url(../../Images/Site/foreign.jpg)"></div>
<div class="account-form col-lg-6 col-md-6 col-sm-12 col-xs-12">

    <span class="account-form-title">
        @*@Resources.Texts.RegistrationForm*@
    </span>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="wrap-input-account">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "input-account", @placeholder = XamarinMVC.App_GlobalResources.Captions.ActivationCode } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            <span class="focus-account"></span>
        </div>
        <div class="wrap-input-account">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-account", @placeholder = XamarinMVC.App_GlobalResources.Captions.NewPassword } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <span class="focus-account"></span>
        </div>
        <div class="wrap-input-account">
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "input-account", @placeholder = XamarinMVC.App_GlobalResources.Captions.NewRePassword } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            <span class="focus-account"></span>
        </div>
        <div class="container-button">
            <button class="account-button">
                @XamarinMVC.App_GlobalResources.Texts.Register
            </button>
        </div>
    }
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
