@model IEnumerable<XamarinMVC.Models.User>

@{
    ViewBag.Title = XamarinMVC.App_GlobalResources.Captions.Users;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-bottom:50px">
    <h2 class="pull-right">@XamarinMVC.App_GlobalResources.Captions.Users</h2>
    <h2 class="pull-left">
        @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.New, "Create", "", new { @class = "btn btn-success" })
    </h2>
</div>

<div class="clearfix" style="margin-bottom:50px"></div>
<div style="margin-bottom:30px">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-8">
                @Html.TextBox("strsearch", "", new { @class="form-control",placeholder=XamarinMVC.App_GlobalResources.Texts.Search+"..."})
            </div>
            <div>
                <button type="submit" class="btn btn-success">@XamarinMVC.App_GlobalResources.Texts.Search</button>
            </div>
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @XamarinMVC.App_GlobalResources.Texts.Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.Addresses, "ShowAddress", new { id = item.Id }, new { @class = "btn-xs btn-danger" }) |
                @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.Edit, "Edit", new { id = item.Id }, new { @class = "btn-xs btn-info" }) |
                @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.Delete, "Delete", new { id = item.Id }, new { @class = "btn-xs btn-warning" })
            </td>
        </tr>
    }

</table>
