@model XamarinMVC.Models.Menu

@{
    ViewBag.Title = XamarinMVC.App_GlobalResources.Texts.Details;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h2 class="pull-right">@XamarinMVC.App_GlobalResources.Texts.Details : @Model.Name</h2>
    <h2 class="pull-left"> @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.BacktoList, "Index", "", new { @class = "btn btn-danger" })</h2>
</div>
<div class="clearfix" style="margin-bottom:50px"></div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
</p>
