@model IEnumerable<XamarinMVC.Models.Factor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-bottom:50px">
    <h2 class="pull-right">@XamarinMVC.App_GlobalResources.Texts.ViewFactor</h2>

</div>
<div class="clearfix" style="margin-bottom:50px"></div>
<div style="margin-bottom:30px">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-8">
                @Html.TextBox("strsearch", "", new { @class = "form-control", placeholder = XamarinMVC.App_GlobalResources.Texts.Search + "..." })
            </div>
            <div>
                <button type="submit" class="btn btn-success">@XamarinMVC.App_GlobalResources.Texts.Search</button>
            </div>
        </div>
    }
</div>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink(XamarinMVC.App_GlobalResources.Texts.Details, "ShowDetails", new { id = item.Id }, new { @class = "btn btn-info" }) |
                <a href="#" onclick="AddressIndex(@item.AddressId)" class="btn btn-primary">@XamarinMVC.App_GlobalResources.Texts.Addresses</a>
              
            </td>
        </tr>
    }

</table>

<div id="mymodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="mymodalheader" class="modal-header">modallll</div>
            <div id="bodymodal" class="modal-body">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
    <script>
        function AddressIndex(id) {
            $.ajax({
                url: "/Admin/Factors/ShowAddress/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#mymodal').modal("show");
                $('#mymodalheader').html('sabte');
                $('#bodymodal').html(result);
            });
        }
    </script>
}