@model XamarinMVC.Models.Address

<h3>@XamarinMVC.App_GlobalResources.Texts.Addresses</h3>

<br />
<h4 class="text-center">@XamarinMVC.App_GlobalResources.Captions.AddressCity : @Model.AddressCity</h4>
<br />
<h4 class="text-center">@XamarinMVC.App_GlobalResources.Captions.AddressState : @Model.AddressState</h4>
<br />
<h4 class="text-center">@XamarinMVC.App_GlobalResources.Captions.AddressPostalCode : @Model.AddressPostalCode</h4>
<br />
<h4 class="text-center">@XamarinMVC.App_GlobalResources.Captions.AddressText : @Model.AddressText</h4>