
<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @{



        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Styles.Render("~/Content/AccountEN")
                break;
            case "fa-IR":
                @Styles.Render("~/Content/AccountFA")
                break;
            default:
                @Styles.Render("~/Content/AccountFA")
                break;
        }

    }



    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


</head>
<body>
    <div style="width:100px; position:absolute; margin-left:5px;">
        @Html.Partial("~/Views/Partials/_LanguagePartial.cshtml")
    </div>

    <div class="my-container">
        <div class="container-form">
            <div class="wrap-account">
                @RenderBody()
            </div>
        </div>
    </div>

    
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap-rtl.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
