<!DOCTYPE html>

<html lang="fa">
<head>
    @using XamarinMVC.Models;
    @{
        DatabaseContext db = new DatabaseContext();
        var user = db.Users.FirstOrDefault(u => u.Mobile == User.Identity.Name);
    }
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <title>@ViewBag.Title</title>
    @{
        string dir = null;
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Styles.Render("~/Content/SiteEN")
                dir = "rtl";
                break;
            case "fa-IR":
                @Styles.Render("~/Content/SiteFA")
                dir = "ltr";
                break;
            default:
                @Styles.Render("~/Content/SiteFA")
                dir = "ltr";
                break;
        }

    }
</head>
<body>
    <div class="header">
        <div class="topnav">
            <div style="direction:@dir">
                @Html.Partial("~/Views/Partials/_LanguagePartial.cshtml")
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Account/SignOut"><span class="fa fa-sign-out"></span></a>
                    <a href="/Profile/Dashboard">@XamarinMVC.App_GlobalResources.Texts.Dashboard</a>
                }
                else
                {
                    <a href="/Account/Register">@XamarinMVC.App_GlobalResources.Texts.Register</a>
                    <a href="/Account/Login">@XamarinMVC.App_GlobalResources.Texts.Login</a>
                }
            </div>
        </div>
        <h2>@XamarinMVC.App_GlobalResources.Texts.OnlineStore</h2>
    </div>
@Html.Action("Menu","Home")

    <div class="content" style="min-height:800px;">
        @RenderBody()
    </div>


    @{
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Scripts.Render("~/bundles/jquery","~/bundles/jqueryval", "~/bundles/BootStrapEN")
                break;
            case "fa-IR":
                @Scripts.Render("~/bundles/jquery","~/bundles/jqueryval", "~/bundles/BootStrapFA")
                break;
            default:
                @Scripts.Render("~/bundles/jquery","~/bundles/jqueryval", "~/bundles/BootStrapFA")
                break;
        }
    }
    @Scripts.Render("~/bundles/SiteScript")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/jqueryui")


</body>
</html>
