<!DOCTYPE html>

<html lang="fa">
<head>
    @using XamarinMVC.Models;
    @{ 
        DatabaseContext db = new DatabaseContext();
        var user = db.Users.FirstOrDefault(u => u.Mobile == User.Identity.Name);
    }
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <title>@ViewBag.Title</title>
    @{
        string dir = null;
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Styles.Render("~/Content/AdminEN")
                dir = "rtl";
                break;
            case "fa-IR":
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
            default:
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
        }
    }
</head>
<body>
    <div class="container-fluid">

        <div class="row topnav">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Admin/Default" style="font-size:20px">@Resources.Captions.AdminPanel</a>
                }
                else
                {
                    <a href="/Profile/Index" style="font-size:20px">@Resources.Texts.UserPanel</a>
                }

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-inline" style="direction:@dir">
                @Html.Partial("~/Views/Partials/_LanguagePartial.cshtml")
                <a href="/"><span class="fa fa-eye"></span></a>
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Profile/ChangePassword"><span class="fa fa-key"></span></a>
                }
            </div>

        </div>
        <div class="row">
            <div class="sidebar">
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Admin/Users/Index" class="active"><span class="fa fa-user"></span>@Resources.Captions.Users</a>
                    <a href="/Admin/Menus"><span class="fa fa-book"></span>@Resources.Texts.Menu</a>
                     <a href="/Admin/Factors"><span class="fa fa-money"></span>@Resources.Captions.Factor</a>
                    <a href="/Admin/Products"><span class="fa fa-list-ol"></span>@Resources.Captions.Products</a>
                    <a href="/Admin/Groups"><span class="fa fa-group"></span>@Resources.Texts.Groups</a>
                    <a href="/Admin/Sliders"><span class="fa fa-picture-o"></span>@Resources.Texts.Slider</a>
                    <a href="/Admin/Fields"><span class="fa fa-file-excel-o"></span>@Resources.Captions.Field</a>
                    <a href="/Admin/Default/SMSEmailSetting"><span class="fa fa-mobile"></span>@Resources.Captions.SMSEmailSetting</a>
                    <a href="/Admin/Default/SiteSetting"><span class="fa fa-cogs"></span>@Resources.Captions.SiteSetting</a>
                    <a href="/Admin/Default/CallSetting"><span class="fa fa-phone"></span>@Resources.Captions.ContactSetting</a>
                    <a href="/Admin/Socials"><span class="fa fa-users"></span>@Resources.Texts.SocialNetwork</a>
                    <a href="/Admin/Brands"><span class="fa fa-list-ol"></span>@Resources.Texts.Brand</a>
                }
                else
                {
                    <a href="/Addresses" class="active"><span class="fa fa-address-book"></span>@Resources.Texts.MyAddresses</a>
                    <a href="/Profile/ChangePassword"><span class="fa fa-key"></span>@Resources.Texts.ChangePassword</a>
                    <a href="/Profile/ShoppingCart"><span class="fa fa-shopping-cart"></span>@Resources.Texts.ShoppingCart</a>
                }

            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @{
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapEN")
                break;
            case "fa-IR":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
            default:
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
        }
    }

    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/jqueryui")

</body>
</html>
