<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <title>@ViewBag.Title</title>
    @{
        string dir = null;
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Styles.Render("~/Content/AdminEN")
                dir = "rtl";
                break;
            case "fa-IR":
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
            default:
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
        }
    }
</head>
<body>
    <div class="container-fluid">
        <div class="row topnav">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="/Admin/Default" style="font-size:20px">@Resources.Captions.AdminPanel</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="direction:@dir">
                <a href="/"><span class="fa fa-sign-out"></span></a>
                <a href="/"><span class="fa fa-eye"></span></a>
                @Html.Partial("_LanguagePartial")
            </div>
            
        </div>
        <div class="row">
            <div class="sidebar">
                <a href="#" class="active"><span class="fa fa-user"></span>@Resources.Captions.Users</a>
                <a href="#"><span class="fa fa-mobile"></span>@Resources.Captions.SMSSetting</a>
                <a href="#"><span class="fa fa-cogs"></span>@Resources.Captions.SiteSetting</a>
                <a href="#"><span class="fa fa-phone"></span>@Resources.Captions.ContactSetting</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>



    @{
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapEN")
                break;
            case "fa-IR":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
            default:
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
        }
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
