<!DOCTYPE html>

<html lang="fa">
<head>
    @using XamarinMVC.Models;
    @{ 
        DatabaseContext db = new DatabaseContext();
        var user = db.users.FirstOrDefault(u => u.Mobile == User.Identity.Name);
    }
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <title>@ViewBag.Title</title>
    @{
        string dir = null;
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Styles.Render("~/Content/AdminEN")
                dir = "rtl";
                break;
            case "fa-IR":
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
            default:
                @Styles.Render("~/Content/AdminFA")
                dir = "ltr";
                break;
        }
    }
</head>
<body>
    <div class="container-fluid">

        <div class="row topnav">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Admin/Default" style="font-size:20px">@Resources.Captions.AdminPanel</a>
                }
                else
                {
                    <a href="/Profile/Index" style="font-size:20px">@Resources.Texts.UserPanel</a>
                }
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-inline" style="direction:@dir">
                @Html.Partial("~/Views/Partials/_LanguagePartial.cshtml")

                <a href="/Account/SignOut"><span class="fa fa-sign-out"></span></a>
                <a href="/"><span class="fa fa-eye"></span></a>
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Profile/ChangePassword"><span class="fa fa-key"></span></a>
                }
            </div>

        </div>
        <div class="row">
            <div class="sidebar">
                @if (user.Role.RoleName == "Admin")
                {
                    <a href="/Admin/Users/Index" class="active"><span class="fa fa-user"></span>@Resources.Captions.Users</a>
                    <a href="/Admin/Default/SMSEmailSetting"><span class="fa fa-mobile"></span>@Resources.Captions.SMSEmailSetting</a>
                    <a href="/Admin/Default/SiteSetting"><span class="fa fa-cogs"></span>@Resources.Captions.SiteSetting</a>
                    <a href="/Admin/Default/CallSetting"><span class="fa fa-phone"></span>@Resources.Captions.ContactSetting</a>
                    <a href="/Admin/Socials"><span class="fa fa-users"></span>@Resources.Texts.SocialNetwork</a>
                }
                else
                {
                    <a href="/Addresses" class="active"><span class="fa fa-address-book"></span>@Resources.Texts.MyAddresses</a>
                    <a href="/Profile/ChangePassword" class="active"><span class="fa fa-key"></span>@Resources.Texts.ChangePassword</a>
                }

            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>


    @{
        switch (System.Threading.Thread.CurrentThread.CurrentUICulture.Name)
        {
            case "en-US":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapEN")
                break;
            case "fa-IR":
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
            default:
                @Scripts.Render("~/bundles/jquery", "~/bundles/BootStrapFA")
                break;
        }
    }
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/jqueryui")


</body>
</html>
